### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
LICENSE
README.md
# Created by .ignore support plugin (hsz.mobi)
log/*
temp/*
vendor/*
!.gitignore
!.htaccess
/node_modules
!web.config
app/config/config.local.neon
